{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    
    <form method="POST" action="{{ url_for('viewdiagnostico') }}">
        {{ registerform.hidden_tag() }}
        <div>
            {{ registerform.pessoa_id.label }}</br>
            {{ registerform.pessoa_id(size=32) }}
            {% for error in registerform.pessoa_id.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>

        <div>
            {{ registerform.medico_crm.label }}</br>
            {{ registerform.medico_crm(size=32) }}
            {% for error in registerform.medico_crm.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>

        <div>
            {{ registerform.doenca.label }}</br>
            {{ registerform.doenca()}}
            {% for error in registerform.doenca.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>

        
        
        {{ registerform.submit() }}
        
    </form>

    <table>
    <caption>Diagnosis registered in this Unit</caption>
    <thead>
                <tr>
                    <th>id</th>
                    <th>Tipo</th>
                    <th>Pessoa</th>
                    <th>Medico</th>
                    <th>Data</th>
                </tr>
            </thead>
    <tbody>
    {% for diagnostico in data %}
    <tr>
        <td>{{ diagnostico.id }}</td>
        <td>{{ diagnostico.doenca }}</td>
        <td>{{ diagnostico.pessoa.name }}</td>
        <td>{{ diagnostico.medico.name }}</td>
        <td>{{ diagnostico.date }}</td>  
    </tr>
    {% endfor %}
    </tbody>

    </table>
{% endblock%}