{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <form method="POST" action="{{ url_for('regperson') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }}</br>
            {{ form.name(size=32) }}
            {% for error in form.name.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.birth.label }}</br>
            {{ form.birth() }}
            {% for error in form.birth.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.cep.label }}</br>
            {{ form.cep(size=8) }}
            {% for error in form.cep.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.sex.label }}</br>
            {{ form.sex(size=1) }}
            {% for error in form.sex.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        
        {{ form.submit() }}
        
    </form>
{% endblock%}