{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <form method="POST" action="{{ url_for('register') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}</br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.cep.label }}</br>
            {{ form.cep(size=8) }}
            {% for error in form.cep.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }}</br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.password2.label }}</br>
            {{ form.password2(size=32) }}
            {% for error in form.password2.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        
        {{ form.submit() }}
        
    </form>
    <p>Alredy in?<a href="{{ url_for('login') }}">Click to login</a></p>
{% endblock%}